@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');

.main{
  font-family: 'Chivo', sans-serif;
  
}

.text{
  color: #716966;
  /* font-weight:900;
   */
   font-weight: 1000;
   font-size: larger;
   margin-left: 1vw;
}

.box .nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3vw;
  margin-right: 3vw;
}

.Logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  cursor: pointer;
}


.menus{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: smaller;
  width: 300px;
}
.menus div{
  cursor: pointer;
}

.user-contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}
.user{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.kebab{
  display: none;
}


@media screen and (max-width: 680px){
  .menus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-small;
    width:210px;
  }
  .user-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;

  }  

  .arrow-down-sign-to{
    width: 9px;
  }

  .man{
    width: 30px;
  }

  .operator{
    width: 30px;
  }

}

@media screen and (max-width: 680px){
  .menus{
    display: none;
  }
  .kebab{
    display: block;
  }
  .user-contact{
    /* margin-left: -50px; */
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background: #000; */
  }

  .nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 500px){
  .user-contact{
    display: none;
  }
  .Logo{
    width: 57vw;
  }

  
}